.header {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  position: fixed;
  background-color: #f9f9f9;
  box-shadow: 1px 0 5px #8c8c8c;

  &__title {
    font-size: 1em;
    padding: 0 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    &_link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}